<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BIM MODEL VIEWER</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false);
</head>
<body class="backgroundImage">
    <div class="navbar navbar-inverse navbar-fixed-top navbarColor">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand"><img src="~/Content/Images/ikontrol_logo155.png" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Model Viewer xBIM", "ModelViewer", "ModelViewer")</li>
                    <li>@Html.ActionLink("Model Viewer Three", "ModelViewerThree", "ModelViewerThree")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer class="footerText">
            <p>&copy; @DateTime.Now.Year - BIM MODEL VIEWER</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
